weight_record_WcfService/test_service_ui/Service References/weight_record_service/weight_record_wcf_Service_host1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/weight_recording_service_dal" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/weight_recording_service_dal" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfweight_record_dto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="weight_record_dto" nillable="true" type="tns:weight_record_dto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfweight_record_dto" nillable="true" type="tns:ArrayOfweight_record_dto" />
  <xs:complexType name="weight_record_dto">
    <xs:sequence>
      <xs:element minOccurs="0" name="created_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="weight_app" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="weight_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="weight_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="weight_status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="weight_weight" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="weight_record_dto" nillable="true" type="tns:weight_record_dto" />
  <xs:complexType name="service_fault">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="service_fault" nillable="true" type="tns:service_fault" />
  <xs:complexType name="responsedto">
    <xs:sequence>
      <xs:element minOccurs="0" name="isresponseresultsuccessful" type="xs:boolean" />
      <xs:element minOccurs="0" name="responseclass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="responseerrormessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="responsemethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="responseresultobject" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="responsesuccessmessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responsedto" nillable="true" type="tns:responsedto" />
</xs:schema>