weight_record_WcfService/test_service_ui/Service References/sqlite_weight_recording_WcfService/sqlite_service_implementation1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7766/sqlite_service_implementation.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7766/sqlite_service_implementation.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/sqlite_weight_recording_WcfService" />
      <xsd:import schemaLocation="http://localhost:7766/sqlite_service_implementation.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="isqlite_service_interface_getallweightsinservice_InputMessage">
    <wsdl:part name="parameters" element="tns:getallweightsinservice" />
  </wsdl:message>
  <wsdl:message name="isqlite_service_interface_getallweightsinservice_OutputMessage">
    <wsdl:part name="parameters" element="tns:getallweightsinserviceResponse" />
  </wsdl:message>
  <wsdl:message name="isqlite_service_interface_getallweightsinservice_service_faultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/sqlite_weight_recording_WcfService" name="detail" element="q1:service_fault" />
  </wsdl:message>
  <wsdl:message name="isqlite_service_interface_createweightinservice_InputMessage">
    <wsdl:part name="parameters" element="tns:createweightinservice" />
  </wsdl:message>
  <wsdl:message name="isqlite_service_interface_createweightinservice_OutputMessage">
    <wsdl:part name="parameters" element="tns:createweightinserviceResponse" />
  </wsdl:message>
  <wsdl:message name="isqlite_service_interface_createweightinservice_service_faultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/sqlite_weight_recording_WcfService" name="detail" element="q2:service_fault" />
  </wsdl:message>
  <wsdl:message name="isqlite_service_interface_setup_database_InputMessage">
    <wsdl:part name="parameters" element="tns:setup_database" />
  </wsdl:message>
  <wsdl:message name="isqlite_service_interface_setup_database_OutputMessage">
    <wsdl:part name="parameters" element="tns:setup_databaseResponse" />
  </wsdl:message>
  <wsdl:message name="isqlite_service_interface_setup_database_service_faultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/sqlite_weight_recording_WcfService" name="detail" element="q3:service_fault" />
  </wsdl:message>
  <wsdl:portType name="isqlite_service_interface">
    <wsdl:operation name="getallweightsinservice">
      <wsdl:input wsaw:Action="http://tempuri.org/isqlite_service_interface/getallweightsinservice" message="tns:isqlite_service_interface_getallweightsinservice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/isqlite_service_interface/getallweightsinserviceResponse" message="tns:isqlite_service_interface_getallweightsinservice_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/isqlite_service_interface/getallweightsinserviceservice_faultFault" name="service_faultFault" message="tns:isqlite_service_interface_getallweightsinservice_service_faultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="createweightinservice">
      <wsdl:input wsaw:Action="http://tempuri.org/isqlite_service_interface/createweightinservice" message="tns:isqlite_service_interface_createweightinservice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/isqlite_service_interface/createweightinserviceResponse" message="tns:isqlite_service_interface_createweightinservice_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/isqlite_service_interface/createweightinserviceservice_faultFault" name="service_faultFault" message="tns:isqlite_service_interface_createweightinservice_service_faultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="setup_database">
      <wsdl:input wsaw:Action="http://tempuri.org/isqlite_service_interface/setup_database" message="tns:isqlite_service_interface_setup_database_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/isqlite_service_interface/setup_databaseResponse" message="tns:isqlite_service_interface_setup_database_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/isqlite_service_interface/setup_databaseservice_faultFault" name="service_faultFault" message="tns:isqlite_service_interface_setup_database_service_faultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:isqlite_service_interface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getallweightsinservice">
      <soap:operation soapAction="http://tempuri.org/isqlite_service_interface/getallweightsinservice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="service_faultFault">
        <soap:fault use="literal" name="service_faultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createweightinservice">
      <soap:operation soapAction="http://tempuri.org/isqlite_service_interface/createweightinservice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="service_faultFault">
        <soap:fault use="literal" name="service_faultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setup_database">
      <soap:operation soapAction="http://tempuri.org/isqlite_service_interface/setup_database" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="service_faultFault">
        <soap:fault use="literal" name="service_faultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>