weight_record_WcfService/test_service_ui/Service References/sqlite_weight_recording_WcfService/sqlite_service_implementation1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7766/sqlite_service_implementation.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/sqlite_weight_recording_WcfService" />
  <xs:element name="getallweightsinservice">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getallweightsinserviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/sqlite_weight_recording_WcfService" minOccurs="0" name="getallweightsinserviceResult" nillable="true" type="q1:ArrayOfweight_record_dto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createweightinservice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/sqlite_weight_recording_WcfService" minOccurs="0" name="service_dto" nillable="true" type="q2:weight_record_dto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createweightinserviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/sqlite_weight_recording_WcfService" minOccurs="0" name="createweightinserviceResult" nillable="true" type="q3:responsedto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setup_database">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="setup_databaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/sqlite_weight_recording_WcfService" minOccurs="0" name="setup_databaseResult" nillable="true" type="q4:responsedto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>